body { 
    background-color: white;
    border-radius: 20px;
}
.logo {
    position: relative;
    border-radius: 10px;
}

.background-img {
    position: absolute;
    width: 400px; 
    height: 100vh;
    object-fit: cover;
    margin-top: -8px;
    margin-left: -8px;
    z-index: -1;
}

.instructions {
    position: absolute;
    height: 70vh; 
    margin-left: 500px;
    margin-right: 50px;
    padding: 20px 50px;
    z-index: -1;
    border: 2px solid #00CF8E;
    border-radius: 20px;
}

.parent {
    display: flex;
    margin-left: 700px;
    margin-top: -45px;
    padding-bottom: 10px;
}

.parent1 {
    display: flex;
    justify-self: center;
    font-size: 15px;
    text-wrap: nowrap;
}

.parent2 {
    display: flex;
    text-wrap: nowrap;
    margin-top: -20px;
}

.bottom {
    margin-top: 50px;
}

.browser {
    margin-top: 200px;
}

.speed, .webcam, .microphone {
    margin-top: 100px;
}

h1 {
    font-size: 21px;
    justify-self: center;
    font-weight: 400;
}

h2 {
    font-size: 27;
    font-weight: bold;
}

h3 {
    text-decoration: underline;
}

li {
    padding: 2px;
    font-size: 20px;
}

.results {
    padding-top: 20px;
    padding-bottom: 50px;
}

.check-result {
    margin-left: 100px;
}

.checkbox {
    margin-left: 100%;
    cursor: pointer;
}

.next {
    height: 40px;
    max-width: fit-content;
    text-wrap: nowrap;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    background-color: #00CF8E;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    box-shadow:  0 5px 5px 0 rgba(0,0,0,0.24);
}

.previous {
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #00CF8E;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.child2 {
    padding-left: 20px;
}

p {
    font-size: 25px;
}

